<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <!-- starts -->
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-body auth-body">
          <form class="md-float-material" #f="ngForm">
           <!-- <div class="text-center">
              <img src="assets/images/auth/logo.png" alt="logo.png">
            </div>-->
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center txt-primary">Login</h3>
                </div>
              </div>
              <p class="text-inverse b-b-default text-center p-b-5">Bienvenido. Ingrese el Usuario, Password y la Empresa</p>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Username" ngModel name="nombre" required>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="password"  ngModel name="password" required>
                <span class="md-line"></span>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-6 col-xs-12">
                    <label>
                      <select class="browser-default custom-select">
                          <option value="opt1">Elegir Empresa</option>
                          <option value="opt2">Type 2</option>
                          <option value="opt3">Type 3</option>
                          <option value="opt4">Type 4</option>
                          <option value="opt5">Type 5</option>
                          <option value="opt6">Type 6</option>
                          <option value="opt7">Type 7</option>
                          <option value="opt8">Type 8</option>
                      </select>
                    </label>
                
                </div>
                <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                  <!--  <a [routerLink]="['/authentication/forgot']" class="text-right f-w-600 text-inverse"> Forget Password?</a>-->
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Registrar Empresa</button>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)=" log(f)">LOGIN</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>