
<div class="row">
  <div class="col-sm-12">
    <h5> Marco De Control de Seguridad Cibernética y de la Información</h5>
    
    </div>      
</div>
<br>
<div class="row">

<div class="col-sm-6 col-xl-7">
    <ng-template #popTContenido  let-img= "img"><img [src]="img" class="rounded" alt="Cinque Terre"></ng-template>
  <ng-template #popContent let-language="language" > {{language}}</ng-template>

<button
type="button" class="btn btn-sm btn-danger mr-2" placement="bottom"
[ngbPopover]="popContent"
triggers="manual" #p1="ngbPopover" (mouseover)="toggleWithGreeting(p1, 'Inicial', 'El proceso es impredecible, es reactivo y pobremente controlado')" (mouseout)="toggleWithGreeting(p1, 'Inicial', 'El proceso es impredecible, es reactivo y probremente controlado')"
>
Inicial
</button>
<button
type="button" class="btn btn-sm btn-warning mr-2" placement="bottom"
[ngbPopover]="popContent" 
triggers="manual" #p2="ngbPopover" (mouseover)="toggleWithGreeting(p2, 'Gestionado', 'En este nivel, el proceso es reactivo y se caracteriza por su aplicación a proyectos' )" (mouseout)="toggleWithGreeting(p2, 'Gestionado', 'En este nivel, el proceso es reactivo y se caracteriza por su aplicación a proyectos')"
>
Gestionado
</button>
<button
type="button" class="btn btn-sm btn-warning mr-2" placement="bottom"
[ngbPopover]="popContent" 
triggers="manual" #p3="ngbPopover" (mouseover)="toggleWithGreeting(p3, 'Definido', 'En este nivel, el proceso se vuelve proactivo y se ve a nivel de organización' )" (mouseout)="toggleWithGreeting(p3, 'Definido', 'En este nivel, el proceso se vuelve proactivo y se ve a nivel de organización' )"
>
Definido
</button>
<button
type="button" class="btn btn-sm btn-success  mr-2" placement="bottom"
[ngbPopover]="popContent" 
triggers="manual" #p4="ngbPopover" (mouseover)="toggleWithGreeting(p4, 'Administrado', 'Este proceso es medido y controlado' )" (mouseout)="toggleWithGreeting(p4, 'Administrado', 'Este proceso es medido y controlado')"
>
Administrado
</button>
<button
type="button" class="btn btn-sm btn-primary mr-2" placement="bottom"
[ngbPopover]="popContent"
triggers="manual" #p5="ngbPopover" (mouseover)="toggleWithGreeting(p5, 'Optimizado', 'El proceso se enfoca a una mejora continua' )" (mouseout)="toggleWithGreeting(p5, 'Optimizado', 'El proceso se enfoca a una mejora continua')"
>
Optimizado
</button>
<button
type="button" class="btn btn-sm btn-primary mr-2" placement="bottom"
[ngbPopover]="popTContenido"
triggers="manual" #p6="ngbPopover" (mouseover)="toggleWithGreetingdos(p6,'../../../assets/images/matriz.png' )" (mouseout)="toggleWithGreetingdos(p6,'../../../assets/images/matriz.png')"
>
Matriz Risg.
</button>


</div>
  <div class="col-sm-2 col-xl-2">
    <h5>Total</h5>
    <p><ngb-progressbar [type]="colortotal" [value]="total" [striped]="true" [animated]="true"><i>{{total}}%</i></ngb-progressbar></p>
  </div>
  <div class="col-sm-3">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="fecha" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-success btn-sm" (click)="d.toggle()" type="button">FECHA</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<br> 
<!-- Articulos -->
 <app-card *ngFor="let articulo of articulos; let a = index;" [title]="articulo.articulo" [cardToggle]="'collapsed'" [headerContent]="articulo.vermas" (dblclick)=vermas(a)>
   <div class="row">
      <div class="col-sm-12 col-xl-12 text-center">   
      <h4 class="sub-title">Preguntas</h4>   
     
        <ngb-tabset>
          <ngb-tab class="text-center" *ngFor="let tab of preguntas[a]; let e = index"  [title]=[e+1]>
            <ng-template ngbTabContent>
              
              <div  class="form-control text-center">
                {{tab.pregunta}} 
              </div>
            <div class="row">
              <div class="btn-group btn-group-toggle   col-sm-2 col-xl-2 offset-sm-1" ngbRadioGroup name="radioBasic" [(ngModel)]="tab.validacion">
                <br>
                <label ngbButtonLabel class="btn-success  btn-sm">
                  <input ngbButton type="radio" [value]="true"> SI
                </label>
                <label ngbButtonLabel class="btn-success  btn-sm">
                  <input ngbButton type="radio" [value]="false"> NO
                </label>                  
              </div>                
              <div  class="col-sm-3 col-xl-3">
                  <br>
                  <bar-rating id="uno" (rateChange)="totales()" (hover)="totales()"  [(rate)]="tab.currentRate" [max]="5" [readOnly]="!tab.validacion" [theme]="'movie'" [showText]="true"
                  [titles]="['1.Inicial', '2.Gestionado' , '3.Definido', '4.Administrado','5.Optimizado']" ></bar-rating>
              </div>
              <div class="col-sm-2 col-xl-2 "> 
                  <br>
                   <div class="col-xs-1 col-md-12 col-lg-12" >
                     <div *ngFor="let pregunta of preguntas[a];">
                        <ngb-progressbar  [type]="pregunta.color" [value]="pregunta.progres" [striped]="true" [animated]="true" > <i>{{pregunta.currentRate}}</i> </ngb-progressbar>
                      </div>
                      
                      
                   </div>
                   <div class="col-sm-12 col-xl-12" >
                      Nivel por pregunta
                   </div>   
            </div>
              <div class="col-sm-2 col-lg-2">
                <br>
                <h6>Seguridad</h6>
                <p><ngb-progressbar [type]="articulos[a].color" [value]="articulos[a].subtotal" [striped]="true" [animated]="true"></ngb-progressbar></p>
                <h5>{{articulos[a].subtotal}}%</h5>
              </div>
              <div class="col-sm-2 col-xl-2">
                <ngb-alert [type]="articulos[a].colorm" [dismissible]="false"> <h5><u>Nivel de Madurez</u></h5> <h1>{{articulos[a].madurez}}</h1> </ngb-alert>
              </div>

            </div>
            <br>
            <div class="form-group row" *ngIf="articulo.recomendaciones">
              <label class="col-sm-2 col-form-label"> <h5> Recomendaciones </h5></label>
              <div class="col-sm-10">
                <textarea rows="4" cols="1" class="form-control" [placeholder]="articulo.recomendaciones" readonly></textarea>
              </div>
            </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
  </div>
</app-card>
<button class="btn btn-success btn-sm" (click)="guardar()" type="button">guardar</button>
