<h5> Objeto, Alcance, Ambito de Aplicación y Principios Rectores</h5>
<br> 
<!-- Typography card start -->
 <app-card [title]="'Articulo 6. Marco de Trabajo'" [cardToggle]="'collapsed'" >
 
   <div class="row">
      <div class="col-sm-12 col-xl-12 text-center">   
      <h4 class="sub-title">Preguntas</h4>   
     <div id="collapseExample" [ngbCollapse]="isCollapsed">
      <div class="form-control text-center">
        ¿Cuenta con un marco de referencia de control y de mejores prácticas para ayudar a monitorear y mejorar las actividades críticas de las TI?
      </div>
      <div>
          <ngb-rating [(rate)]="currentRate" max="5">
              <ng-template let-fill="fill">
                  <span class="star" [class.filled]="fill === 100">&#9733;</span>
                </ng-template>
          </ngb-rating>
          <hr>
          <pre>Rate: <b>{{currentRate}}</b></pre>
      </div>
     </div>

     <div id="collapseExampledos" [ngbCollapse]="isCollapseddos">
      <div class="form-control text-center">
        ¿Se mide el desempeño de las Tecnologias de la Informacion para detectar los problemas antes de que sea demasiado tarde?
      </div>
     </div>

     <div  id="collapseExampletres" [ngbCollapse]="isCollapsedtres">
      <div class="form-control text-center">
        ¿Se miden y reportan los riesgos, el control, el cumplimiento y el desempeño?
      </div>
     </div>

     <div  id="collapseExamplecuatro" [ngbCollapse]="isCollapsedcuatro">
      <div class="form-control text-center">
        ¿Se realiza una revision de efectividad de los controles existentes como minimo una vez al año?
      </div>
     </div>
     
    </div>
    </div>
   <br>
   <div class="row">
    <div class="col-sm-12 col-xl-12 text-center">   
      <button type="button" class="btn btn-outline-primary" (click)="uno()" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        1
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="dos()" [attr.aria-expanded]="!isCollapseddos" aria-controls="collapseExampledos">
        2
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="tres()" [attr.aria-expanded]="!isCollapsedtres" aria-controls="collapseExampletres">
        3
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="cuatro()" [attr.aria-expanded]="!isCollapsedcuatro" aria-controls="collapseExamplecuatro">
        4
      </button>
    </div>
  </div>

</app-card>


<!-- Typography card end -->